$white-1: #fff;
$white-2: #f2f2f2;
$white-3: rgba(255, 255, 255, 0.2);
$white-4: #d8d8d8;

$black-1: #000;
$black-2: #333333;
$black-3: #121212;
$black-4: rgba(0, 0, 0, 0.7);
$black-5: rgba(0, 0, 0, 0.7);

$blue-1: #004e9c;
$blue-2: #86b7fe;
$blue-3: #31579f;

$red: #cc0000;
$red-1: #90475e;

$purple: #9600ff;
$purple-1: #990099;
$purple-2: rgba(78, 0, 132, 0.5);
$purple-3: #9600ff;
$purple-4: #5d009f;
$purple-5: linear-gradient(to right, #c700ff, #9600ff);
$purple-6: linear-gradient(to right, #9200bb, #5d009f);
$purple-7: rgba(78, 0, 132, 0.5);
$purple-8: #270042;

$brown-1: #5f3f3a;

$grey-1: #999999;
$grey-2: #222327;
$grey-3: #cccccc;
$grey-4: rgb(5, 5, 5);
$grey-5: #eee;
$grey-6: #d7d7d7;
$grey-7: #797979;
$grey-8: #f2f2f2;
$grey-9: #bebebe;
$grey-10: #424242;
$grey-11: #494949;
$grey-12: #1d1d1d;
$grey-13: #3f3f3f;
$grey-14: #434343;
$grey-15: #282828;
$grey-16: #0e0e0e;

$pink-1: #ffcccc;




$yellow-1: #cda02e;
$yellow-2: #f8e77b;


$green: #38cc00;

$body-bg: $white-1;
$body-txt: $black-1;

$color-txt-error: $red-1;
$color-txt-password: $grey-1;

// $color-step-txt-active: $black-2;
// $color-step-txt-default: $grey-3;
// $color-step-txt-small: $grey-3;
// $color-step-submit-bg: $purple-1;
// $color-step-submit-txt: $white-1;
// $color-step-border-select: $grey-4;
// $color-step-border-select-active: $blue-2;
// $color-step-label-language-bg: $purple-1;
// $color-step-label-language-txt: $white-1;

// $color-profile-pic-border-item: $grey-1;
// $color-profile-pic-bg-item-popup: $grey-5;
// $color-profile-pic-txt-link: $black-1;
// $color-profile-pic-bg-button: $purple-1;
// $color-profile-pic-txt-button: $white-1;

// $color-social-facebook-bg-button: $blue-3;
// $color-social-facebook-txt-button: $white-1;
// $color-social-back-txt: $black-1;

// $color-profile-facebook-bg-item-photo: $grey-6;
// $color-profile-facebook-item-checked-border: $purple-1;

// $color-profile-facebook-cancel-border: $grey-7;
// $color-profile-facebook-cancel-bg: $grey-1;
// $color-profile-facebook-cancel-txt: $white-1;

// $color-profile-facebook-next-border: $grey-7;
// $color-profile-facebook-next-bg: $purple-1;
// $color-profile-facebook-next-txt: $white-1;

// $color-upload-photo-border: $black-2;
// $color-upload-photo-bg: $grey-8;
// $color-upload-photo-bg-cover: rgba($grey-8, 0.3);
// $color-upload-photo-bg-button: $purple-1;
// $color-upload-photo-txt-button: $white-1;

// $color-custom-card-txt-button: $white-1;
// $color-custom-card-bg-button: $purple-1;
// $color-custom-card-border-error: $red-1;
// $color-custom-select-tag-dropdown-bg: $grey-12;
// $color-custom-select-tag-dropdown-border: $grey-1;
// $color-custom-select-tag-dropdown-bg-item: $grey-13;

// $color-confirm-button-cancel-bg: $grey-1;
// $color-confirm-button-cancel-txt: $white-1;
// $color-confirm-button-save-bg: $purple-1;
// $color-confirm-button-save-txt: $white-1;