$white-1: #fff;
$white-2: #f2f2f2;
$white-3: rgba(255, 255, 255, 0.2);
$white-4: #d8d8d8;

$black-1: #000;
$black-2: #333333;
$black-3: #26272b;
$black-4: rgba(0, 0, 0, 0.7);
$black-5: rgba(0, 0, 0, 0.7);

$blue-1: #2b72a54a;
$blue-2: #86b7fe;
$blue-3: #31579f;

$red: #cc0000;
$red-1: #90475e;

$purple: #9600ff;
$purple-1: #990099;
$purple-2: rgba(78, 0, 132, 0.5);
$purple-3: #9600ff;
$purple-4: #5d009f;
$purple-5: linear-gradient(to right, #c700ff, #9600ff);
$purple-6: linear-gradient(to right, #9200bb, #5d009f);
$purple-7: rgba(78, 0, 132, 0.5);
$purple-8: #270042;

$brown-1: #5f3f3a;

$grey-1: #999999;
$grey-2: #222327;
$grey-3: #cccccc;
$grey-4: #737373;
$grey-5: #33353d;
$grey-6: #d7d7d7;
$grey-7: #797979;
$grey-8: #f2f2f2;
$grey-9: #bebebe;
$grey-10: #424242;
$grey-11: #494949;
$grey-12: #1d1d1d;
$grey-13: #3f3f3f;
$grey-14: #434343;
$grey-15: #282828;
$grey-16: #0e0e0e;

$pink-1: #ffcccc;




$yellow-1: #cda02e;
$yellow-2: #f8e77b;


$green: #38cc00;

$body-bg: $white-1;
$body-txt: $black-1;

$color-txt-error: $red-1;
$color-txt-password: $grey-1;
