.login-page {
  padding: rem(100) 0;
  background-image: url("../../Assets/img/cybersoft-bg3.jpg");
  background-size: contain;

  &-wrapper {
    width: rem(400);
    margin: auto;
    padding: rem(40);
    background-color: white;
    border-radius: rem(15);
    box-shadow: 0 rem(15) rem(25) rgba(0, 0, 0, 0.6);
  }
}
