.register-page {
  padding: 100px 0;
  background-image: url("../../Assets/img/cybersoft-bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  height: 100%;

  &-wrapper {
    width: 400px;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  }
}
