.site-header {
  &-wrapper {
    background-color: $white-1;
  }

  &__top {
    padding: rem(20) rem(20) 0 rem(20);
    position: relative;

    &-right {
      display: flex;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 10px;
      display: inline-block;

      i {
        @extend .hover-linear-text;
      }
    }
  }

  &__bottom {
    position: relative;
    padding: 0 rem(20) rem(20) rem(20);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__cart {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: rem(20);
    border-radius: 5px;
    cursor: pointer;

    &-val {
      position: absolute;
      top: -50%;
      font-weight: 700;
      width: rem(24);
      height: rem(24);
      background: $yellow-1;
      color: $white-1;
      line-height: rem(24);
      text-align: center;
      font-size: rem(16);
      border-radius: 50%;
    }
  }

  &__main {
    background: $black-1;
    color: $white-1;
    font-weight: bold;
  }

  &__utility {
    display: flex;

    &-list {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 rem(10);

        @extend .hover-linear-text;
      }

      @include mq($BREAKPOINT-LG) {
        display: flex;
      }
    }

    &-toogle {
      margin: 0 rem(10);
      cursor: pointer;

      @extend .hover-linear-text;

      @include mq($BREAKPOINT-LG) {
        display: none;
      }
    }
  }

  // &__search {
  //   cursor: pointer;
  //   @extend .hover-linear-text;
  // }

  &__login {
    margin-left: rem(40);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__nav {
    padding: 0;

    &-toggler {
      &:focus {
        outline: none;
      }
    }

    &-item {
      transition: 0.3s;
      padding: rem(5) rem(10);

      a {
        font-size: rem(12);
      }

      &:hover {
        transition: linear 0.5s;
        background: $yellow-1;
      }

      &.active {
        background: linear-gradient(to right, $yellow-1, $brown-1);
      }
    }
  }

  &__toggler-icon {
    margin: 0;
    height: 100%;
    font-size: rem(16);
    padding: rem(10);
  }
  .site-header__logged {
    position: relative;
    margin-left: 50px;
  }
  img.site-header__avatar {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #2b72a54a;
    border-radius: 50%;
    cursor: pointer;
  }
  ul.site-header__info-list {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #3e3a3a;
    color: white;
    border-radius: 5px;
    padding: 10px;
    z-index: 8;
    width: 158px;
    left: -144px;
  }
  li.site-header__info-item {
    padding: 5px;
  }
}

input#combo-box-demo {
  padding-left: 35px;
  color: white;
  font-family: $font-base;
}