.two-section {
  &__bg {
    padding: 30px 0;
    background-color: #d6edf6;
    background-image: url(./../../Assets/img/funfact_bg.png);
  }

  &__desc {
    line-height: 30px;
    font-weight: 400;
  }

  .bg-attachment {
    background-repeat: no-repeat;
    background-image: url(./../../Assets/img/cybersoft_all_3.jpg);
    height: 350px;
    background-size: cover;
    background-attachment: fixed;
  }
}
