.courses-slider {
  overflow: hidden;

  &__title {
    color: $brown-1;
    font-weight: bold;
    margin: rem(30) 0;

    p {
      font-size: 15px;
      color: $grey-1;
    }
  }

  button.btn-primary {
    width: 100%;
  }
  .swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    font-size: rem(18);
    background: $white-1;
    height: auto;

    /* Center slide text vertically */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: rem(-50);
    left: auto;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: rem(-50);
    right: auto;
  }
}
